.MovieTitle {
    color: var(--purple-500-main);
    text-decoration: none;  
}

.MovieDate, .MovieGenre, .MovieVote {
    color: var(--grey-600);
}

.MovieTitle {
    line-height: 24px;
}

.RateButton {
    span {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}